body {
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 18px;
}

header {
	font-size: 13px;
	line-height: 13px;
	border-bottom: 1px solid rgba(0,0,0,0.05);
	box-shadow: 0px 1px 1px #cdcdcd;
	padding: 0 43px;
	height: 45px;
	position: fixed;
	width: 100%;
}

.nav li {
	float: left;
	font-weight: 500;
}

.nav li div {
	color: #66757F;
	height: 45px;
	line-height: 48px;
	padding: 0 17px 0 37px;
	background-repeat: no-repeat;
	transition: color 0.5s ease, background-image 0.5s ease, border-bottom 0.3s ease-in-out;
}

.nav a {
	text-decoration: none;
}

.nav li a div:hover {
	color: #1385B2;
	height: 42px;
	border-bottom: solid 4px #1385B2;
}

#home {
	background-image: url(../img/house.png);
	background-position: 21% 50%;
	background-size: 22px;
	padding-left: 40px;
}

#home:hover{
	background-image: url(../img/house-blue.png);
	background-position: 21% 58%;
}

#notifications {
	background-image: url(../img/notifications.png);
	background-position: 11% 50%;
	background-size: 22px;
}

#notifications:hover {
	background-image: url(../img/notifications-blue.png);
	background-position: 11% 58%;
}

#discover {
	background-image: url(../img/discover.png);
	background-size: 22px;
	background-position: 13% 52%;
}

#discover:hover {
	background-image: url(../img/discover-blue.png);
	background-position: 13% 60%;
}

#me {
	background-image: url(../img/me.png);
	background-size: 22px;
	background-position: 21% 52%;
}

#me:hover {
	background-image: url(../img/me-blue.png);
	background-position: 21% 60%;
}

#logo {
	display: block;
	width: 330px;
	text-align: center;
	background-image: url(../img/logo.png);
	background-size: 22px;
	background-position: 50% 55%;
}

input {
	width: 197px;
	border: none;
	background-color: #A3ACB2;
	color: white;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	padding: 10px 12px 8px;
	border-radius: 50px;
	margin: 7px 11px 7px 27px;
	font-size: 0.9em;
	background-image: url(../img/search.png);
	background-size: 14px;
	background-position: 95% 50%;
	background-repeat: no-repeat;
	transition: all 0.3s ease-in-out;
}

input:focus {
	background-color: #66757F;
	outline: none;
}

.nav .action {
	padding: 0 10px;
	width: 28px;
	transition: background-image 0.2s ease;
}

#messages {
	background-image: url(../img/messages.png);
	background-position: center center;
	background-size: 22px;
}

#messages:hover {
	background-image: url(../img/messages-blue.png);
}

#settings {
	background-image: url(../img/settings.png);
	background-position: center center;
	background-size: 22px;
}

#settings:hover {
	background-image: url(../img/settings-blue.png);
}

#post-tweet {
	margin: 7px 0 7px 8px;
	height: 32px;
	width: 20px;
	border-radius: 4px;
	background-color: #1385B2;
	background-image: url(../img/post-tweet.png);
	background-size: 24px;
	background-position: 52% center;
}

input::-webkit-input-placeholder {
   color: #fff;
}

input:focus::-webkit-input-placeholder {
	color: #A3AFB7;
}

input:focus:-moz-placeholder { /* Firefox 18- */
   color: #fff;  
}

input:focus:-moz-placeholder { /* Firefox 18- */
   color: #A3AFB7;  
}

input:focus::-moz-placeholder {  /* Firefox 19+ */
   color: #fff;  
}

input:focus::-moz-placeholder {  /* Firefox 19+ */
   color: #A3AFB7;  
}

input:focus:-ms-input-placeholder {  
   color: #fff;  
}

input:focus:-ms-input-placeholder {  
   color: #A3AFB7;  
}















h1 {
	font-size: 22px;
	line-height: 22px;
	font-weight: 300;
	color: #66757F;
	margin: 11px 12px 12px 12px;
}

.tweet-container {
	width: 588px;
	margin: 38px auto;
	background-color: #FFFFFF;
	border-radius: 5px;
	padding-top: 1px;
	border: solid 1px #E1E8ED;
}

.tweet-unit {
	color: #292F33;
	padding: 9px;
	border-top: 1px solid #E1E8ED;
}

.tweet-unit:hover {
	background-color: #F5F8FA;
}

.tweet-avatar {
	height: 48px;
	border-radius: 5px;
	float: left;
	margin: 3px 10px 3px 3px;
}

.name {
	font-weight: 500;
}

.source {
	font-size: 13px;
	line-height: 18px;
	color: #8999A5;
}

.tweet-content a {
	color: #1385B2;
	text-decoration: none;
}

.tweet-content a:hover {
	text-decoration: underline;
}

.tweet-actions {
	height: 26px;
	font-size: 12px;
	line-height: 34px;
	float: right;
	width: 100%;
	padding: 0 3px;
}

.tweet-actions div:not(#summary) {
	background-repeat: no-repeat;
	float: right;
	color: #8999A5;
}

#summary {
	padding-left: 81px;
	float: left;
	color: #1988B4;
	background-image: url(../img/summary.png);
	background-repeat: no-repeat;
	background-position: 42% 45%;
	background-size: 13px;
}

#more {
	background-image: url(../img/more.png);
	background-size: 17px;
	background-position: 0% 47%;
	padding: 0 0 0 23px;
}

#favorite {
	background-image: url(../img/favorite.png);
	background-size: 13px;
	background-position: 0% 45%;
	padding: 0 9px 0 20px;
}

#retweet {
	background-image: url(../img/retweet.png);
	background-size: 17px;
	background-position: 0% 48%;
	padding: 0 9px 0 24px;
}

#reply {
	background-image: url(../img/reply.png);
	background-size: 13px;
	background-position: 0% 47%;
	padding: 0 9px 0 20px;
}

#test {
	background-color: rgba(255,255,255,0.8);
	height: 25px;
	float: right;
	width: 270px;
	position: relative;
	bottom: 24px;
	left: 2px;
}